<section class="blog-posts">

    <!-- <div class="blog-card">
        <picture class="blog-card__picture">
            <source srcset="https://academy.directlinedev.com${srcMobile}, ${srcMobile2x}" media="max-width:400px">
            <source srcset="https://academy.directlinedev.com${srcTablet}, ${srcTablet2x}" media="max-width:900px">
            <source srcset="https://academy.directlinedev.com/public/images/Blog1.jpg">
            <img class="blog-card__picture-item" src="https://academy.directlinedev.com/public/images/Blog1.jpg" alt="">
        </picture>
        <div class="blog-card__wrapper">
            <div class="blog-card__tags">

            </div>
            <div class="blog-card__description">
                <div>${date}</div>
                <div>${views}</div>
                <div>${views}</div>
                <div>${comments}</div>
            </div>
            <h3 class="blog-card__title">${title}</h3>
            <p class="blog-card__text">${text}</p>
            <a class="blog-card__link" href="#">Go to this post</a>
        </div>
    </div> -->

    
</section>