<section class="grid">
    <h1 class="profile__title">My Profile</h1>

    <div class="profile__container">
        <div class="profile__image">
                <img class="user-picture" src="http://dummyimage.com/320x450.png/F6F6F6&text=+" alt="user picture">
        </div>
        <div class="profile__wrapper">
            <ul class="profile__data-list no-dots">
                <li class="profile__item">Name:<span class="profile-data profile-data_name"></span></li>
                <li class="profile__item">Surname:<span class="profile-data profile-data_surname"></span></li>
                <li class="profile__item">Email:<span class="profile-data profile-data_email"></span></li>
                <li class="profile__item">Password:<span class="profile-data profile-data_password"></span></li>
                <li class="profile__item">Location:<span class="profile-data profile-data_location"></span></li>
                <li class="profile__item">Age:<span class="profile-data profile-data_age"></span></li>
            </ul>
            <button type="button" class="profile__button btn-white js-btn-change-password">Change password</button>
            <button type="button" class="profile__button btn-white js-btn-change-other-data">Change other data</button>
            <button type="button" class="profile__button btn-white js-btn-delete-account">Delete account</button>
        </div>
    </div>
</section>