<div class="modal-popup modal-sign-in">
    <form action="#" class="modal-content">
        <label for="email-modal-sign-in">Email<span class="required-field">*</span></label>
        <input type="text" id="email-modal-sign-in">
        <label for="password-modal-sign-in">Password<span class="required-field">*</span></label>
        <input type="password" id="password-modal-sign-in">
        <button type="submit" class="btn-white modal-content__button">Log in</button>
    </form>
    <svg class="modal-close" width="26" height="26" viewBox="0 0 26 26" fill="#828282">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)"/>
    </svg>        
    </div>   