<div class="modal-background modal-sign-in">
    <div class="modal-popup">
        <form action="#" class="modal-content js-login-form">
            <label for="email-modal-sign-in">Email<span class="required-field">*</span></label>
            <input type="text" id="email-modal-sign-in" name="emailLog" class="custom-input required email">
            <label for="password-modal-sign-in">Password<span class="required-field">*</span></label>
            <input type="password" id="password-modal-sign-in" name="passwordLog" class="custom-input required">
            <button type="submit" class="btn-white modal-content__button js-login-submit">Log in</button>
        </form>
        <svg class="modal-close" width="26" height="26" viewBox="0 0 26 26" fill="#828282">
            <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)"/>
            <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)"/>
        </svg>    
    </div>    
</div>   