.skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 64px 0;
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 50px;
    }
    &__container {
        max-width: 1000px;
    }
}

@media (max-width:880px) {
}
@media (max-width:600px) {
    .skills-list__container .row{
        justify-content: space-between;
    }
}