<section class="portfolio">
    <h2 class="portfolio__title">Portfolio</h2>
    <div class="slider-portfolio">
    <div class="portfolio__slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <picture>
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1.jpg, ../../static/images/PortfolioSlider/portfolioPic1-2x.jpg 2x" media="(min-width:841px)">
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1-tablet.jpg, ../../static/images/PortfolioSlider/portfolioPic1-tablet-2x.jpg 2x" media="(min-width:591px) and (max-width:840px)">
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1-mobile.jpg, ../../static/images/PortfolioSlider/portfolioPic1-mobile-2x.jpg 2x" media="(min-width:319px) and (max-width:590px)">
                    <img src="../../static/images/PortfolioSlider/portfolioPic1.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1.jpg, ../../static/images/PortfolioSlider/portfolioPic1-2x.jpg 2x" media="(min-width:841px)">
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1-tablet.jpg, ../../static/images/PortfolioSlider/portfolioPic1-tablet-2x.jpg 2x" media="(min-width:591px) and (max-width:840px)">
                    <source srcset="../../static/images/PortfolioSlider/portfolioPic1-mobile.jpg, ../../static/images/PortfolioSlider/portfolioPic1-mobile-2x.jpg 2x" media="(min-width:319px) and (max-width:590px)">
                    <img src="../../static/images/PortfolioSlider/portfolioPic1.jpg" alt="">
                </picture>
            </div>
        </div>

        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next">
        </div>
        <div class="slider-description">
            <h3 class="slider-description__title">Learning site for DL Academy courses</h3>
            <p class="slider-description__text">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
        </div>
    </div>
    </div>
</section>