<div class="modal-popup modal-send-message">
    <form class="modal-content" action="">
    <div class="modal-two-column">
        <label for="name-modal-sendMessage">What is your name?<span class="required-field">*</span>
            <input type="text" id="name-modal-sendMessage">
        </label>
        <label for="subject-modal-register">Message subject<span class="required-field">*</span>
            <input type="text" id="subject -modal-register">
        </label>
    </div>
    <div class="modal-two-column">
        <label for="email-modal-sendMessage">Your Email<span class="required-field">*</span>
            <input type="text" id="email -modal-sendMessage">
        </label>
        <label for="phone-modal-sendMessage">Your mobile phone<span class="required-field">*</span>
            <input type="phone" id="phone-modal-sendMessage">
        </label>
    </div>
    <label for="comment-modal-sendMessage">What do you want to discuss with me?</label>
    <textarea name="" id="comment-modal-sendMessage" cols="30" rows="10"></textarea>
    <div class="modal-register__ckeckbox">
        <input type="checkbox" id="checkbox-modal-sendMessage">
        <label for="checkbox-modal-sendMessage">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <button type="submit" class="btn-white modal-content__button">Send</button>
    </form>
    <svg class="modal-close" width="26" height="26" viewBox="0 0 26 26" fill="#828282">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)"/>
    </svg>
</div>