<div class="modal-background modal-send-message">
    <div class="modal-popup">
    <form class="modal-content js-send-message" action="">
    <div class="modal-two-column">
        <div class="modal-row">
            <label for="name-modal-sendMessage">What is your name?<span class="required-field">*</span></label>
            <input type="text" id="name-modal-send-message" name="nameMessage" class="custom-input required">
        </div>

        <div class="modal-row">
            <label for="subject-modal-send-message">Message subject<span class="required-field">*</span></label>
            <input type="text" id="subject-modal-send-message" name="subjectMessage" class="custom-input required">
        </div>
    </div>
    <div class="modal-two-column">
        <div class="modal-row">
            <label for="email-modal-send-message">Your Email<span class="required-field">*</span></label>
            <input type="text" id="email-modal-send-message" name="emailMessage" class="custom-input email required">
        </div>
        <div class="modal-row">
            <label for="phone-modal-send-message">Your mobile phone<span class="required-field">*</span></label>
            <input type="phone" id="phone-modal-send-message" name="phoneMessage" class="custom-input required"> 
        </div>

    </div>
    <label for="comment-modal-send-send-message">What do you want to discuss with me?</label>
    <textarea name="textMessage" id="comment-modal-send-message" cols="30" rows="10"></textarea>
    <div class="modal-register__ckeckbox">
        <input class="custom-checkbox-mini-input" type="checkbox" id="checkbox-modal-send-message">
        <label class="custom-checkbox-mini" for="checkbox-modal-send-message">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <button type="submit" class="btn-white modal-content__button">Send</button>
    </form>
    <svg class="modal-close" width="26" height="26" viewBox="0 0 26 26" fill="#828282">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)"/>
    </svg>
    </div>
</div>