.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    &__text {
        color: #828282;
        font-size: 14px;
        line-height: 17px;
        margin: 20px 0 24px 0;
    }
}
img[alt="Git/GitHub"] {
    width: 90px;
    height: 90px;
}

.skill-card__bar {
    display: flex;
    align-items: center;
}
.skill-card__bar p {
    color: #828282;
    font-size: 14px;
    line-height: calc(17/14);
    margin-right: 12px;
}
@media (max-width:1200px) {
    
}

@media (max-width:1100px) {
    .skills-card {
        &:first-child {
            margin-bottom: 40px;
        }
        &:last-child {
            margin-right: auto;
            margin-left: auto;
        }
    }

}
@media (max-width:900px) {
    .skill-card {
        &__svg {
            width: 111px;
        }
    } 
}

@media (max-width:450px) {
    .skill-card {
        &__svg {
            width: 93px;
        }
    }
}
