<div class="col-lg-3 col-md-3 col-sm-6">
<div class="skills-card">
    <img src="../../static/images/skillsImages/@@src" alt="@@cardName">
    <p class="skills-card__text">@@cardName</p>
    <div class="skill-card__bar">
        <p>@@skillPercent</p>
        <svg class="skill-card__svg" width="142" height="9" viewBox="0 0 142 9" fill="none">
            <rect width="142" height="9" fill="#E5E5E5"/>
            <rect width="@@skillPercent" height="9" fill="#070707"/>
        </svg>
    </div>
</div>
</div>