.blog-filter {
    padding-bottom: 20px;
    border-bottom: 2px solid $Mercury;
    &__form {

    }
    &__selectors {
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 35px;
        & label:not(.custom-checkbox_colored) {
            width: 100%;
        }
    }
    &__search {
        align-items: center;
    }
    &__column {

    }
    &__titles {
        margin-bottom: 10px;
        font-family: Gilroy, $default-sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
    }
    &__btn-submit {
        margin-left: 39px;
    }
}
.filter-reset {
    margin-top: 19px;
    &__label {
        text-align: center;
        
        margin-bottom: 5px;
        font-family: Gilroy, $default-sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        color: $Mercury;
    }
}

.blog-filter__column:not(:first-child) input {
    margin-right: 12px;
}
.blog-filter__selectors,
.blog-filter__search {
    display: flex;
    flex-direction: row;
}
.blog-filter__column,
.blog-filter__form,
.views__radio-buttons,
.comments__ckeckboxes,
.show-amount__radio-buttons,
.sorting__radio {
    display: flex;
    flex-direction: column;
}
.tags {
    margin-right: 77px;
    &__checkbox-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        margin-left: 1px;
        width: 115px;
        height: 55px;
    }
}
.views {
    margin-right: 70px;
    &__radio {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
.comments {
    margin-right: 137px;
    &__checkbox:not(:last-child) {
        margin-bottom: 10px;
    }
}
.show-amount {
    margin-right: 76px;
    &__radio {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
.sorting {
    margin-right: 48px;
    &__radio {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

// Colored checkboxes

.custom-checkbox_colored:nth-child(2)::before {
    border-color: #2176FF;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(2)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%232176FF' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(4)::before {
    border-color: #33A1FD;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(4)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%2333A1FD' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(6)::before {
    border-color: #FDCA40;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(6)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%23FDCA40' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(8)::before {
    border-color:#57E2E5;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(8)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%2357E2E5' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(10)::before {
    border-color: #F79824;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(10)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%23F79824' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(12)::before {
    border-color: #E08DAC;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(12)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%23E08DAC' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(14)::before {
    border-color: #6A7FDB;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(14)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%236A7FDB' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.custom-checkbox_colored:nth-child(16)::before {
    border-color: #45CB85;
}
.custom-checkbox__input:checked + .custom-checkbox_colored:nth-child(16)::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%2345CB85' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E");
}




@media (max-width:1030px) {
    .blog-filter__selectors {

        & .tags {
            margin-top: 30px;
            order: 1;
        }
        & .filter-reset {
            margin-top: 40px;
            order: 1;
        }
    }
}

@media (max-width:836px) {
    .blog-filter__selectors {
        & .comments {
            order: -1;
        }
        & .sorting {
            margin-top: 30px;
        }
    } 
}

@media (max-width:770px) {
    .blog-filter__selectors {
        & .tags {
            margin-right: 50px;
        }
        & .comments {
            margin-right: 50px;
        }
        & .views {
            margin-right: 53px;
        }
        & .sorting {
            margin-top: 0;
            margin-right: 80px;
        }
    }
}
@media (max-width:765px) {
    .blog-filter__selectors {
        & .sorting {
            margin-top: 30px;
        }
    }
}
@media (max-width:610px) {
    .blog-filter__selectors {
        & .show-amount {
            margin-right: 0;
        }
    }
}
@media (max-width:460px) {
    .blog-filter__search {
        flex-wrap: wrap;
    }
    .blog-input-search {
        width: 100%;
    }
    .blog-filter__btn-submit {
        margin-top: 20px;
        margin-left: auto;
    }
}
@media (min-width:319px) and (max-width:459px) {
    .blog-filter .blog-filter__column {
        margin: 0;
    }
    .blog-filter__selectors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        justify-items: stretch;
    }
    .filter-reset {
        justify-self: start;
    }
}