<section class="blog-filter">
    <form action="" class="blog-filter__form form-container">
        <div class="blog-filter__selectors">
            <div class="blog-filter__column tags">
                <h4 class="blog-filter__titles">Tags</h4>
                <div class="tags__checkbox-area">
                    <input class="custom-checkbox__input" type="checkbox" id="filter-checkbox-colored1" checked>
                    <label for="filter-checkbox-colored1" class="custom-checkbox custom-checkbox_no-label custom-checkbox_colored"></label>

                    <input class="custom-checkbox__input" type="checkbox" id="filter-checkbox-colored2">
                    <label for="filter-checkbox-colored2" class="custom-checkbox custom-checkbox_no-label custom-checkbox_colored"></label>

                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox">
                    </label>
                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox">
                    </label>
                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox">
                    </label>
                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox" checked>
                    </label>
                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox">
                    </label>
                    <label class="custom-checkbox custom-checkbox_colored">
                        <input class="custom-checkbox__input" type="checkbox">
                    </label>
                </div>
            </div>

            <div class="blog-filter__column views">
                <h4 class="blog-filter__titles">Views</h4>
                <div class="views__radio-buttons">

                    <label for="views-interval-first">
                        <input type="radio" name="views" id="views-interval-first">100-500</label>
                        
                    <label for="views-interval-second">
                        <input type="radio" name="views" id="views-interval-second">500-1000</label>

                    <label for="views-interval-third">
                        <input type="radio" name="views" id="views-interval-third">1000-2000</label>
                </div>
            </div>

            <div class="blog-filter__column comments">
                <h4 class="blog-filter__titles">Comments</h4>
                <div class="comments__ckeckboxes">
                    <input class="custom-checkbox__input" type="checkbox" id="comments-checkbox-first">
                    <label for="comments-checkbox-first" class="custom-checkbox">0</label>

                    <label for="comments-checkbox-second">
                        <input type="checkbox" id="comments-checkbox-second">0-1</label>

                    <label for="comments-checkbox-third">
                        <input type="checkbox" id="comments-checkbox-third">1-50</label>
                </div>
            </div>

            <div class="blog-filter__column show-amount">
                <h4 class="blog-filter__titles">How show?</h4>
                <div class="show-amount__radio-buttons">
                    
                    <label for="views-interval-first">
                        <input type="radio" name="show-amount" id="show-amount-first">show 5</label>
                    
                    <label for="views-interval-second">
                        <input type="radio" name="show-amount" id="show-amount-second">show 10</label>
                </div>
            </div>

            <div class="blog-filter__column sorting">
                <h4 class="blog-filter__titles">Sort by</h4>
                <div class="sorting__radio">
                    
                    <label for="views-interval-second">
                        <input type="radio" name="sorting" id="sorting-first">date</label>

                    <label for="views-interval-second">
                        <input type="radio" name="sorting" id="sorting-second">title</label>

                    <label for="views-interval-second">
                        <input type="radio" name="sorting" id="sorting-third">views</label>
                </div>
            </div>

            <div class="blog-filter__column filter-reset">
                <p class="filter-reset__label">reset form</p>
                <button type="reset" class="btn-white">Reset</button>
            </div>
        </div>

        <div class="blog-filter__search">
            <input class="blog-input-search" type="text">
            <button type="submit" class="blog-filter__btn-submit btn-white">Search</button>
        </div>
    </form>
</section>