.blog-posts-pagination {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    &__page {
        display: flex;
        align-items: center;
    }
    &__link {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $Mercury;
        transition: $time;
        &:hover {
            color: black;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:first-child {
            color: #000000;;
        }
    }
}