<div class="blog-posts-pagination">
    <button class="slider-button slider-button_left">
        <svg width="15" height="24" viewBox="0 0 15 24" fill="#070707">
            <rect x="12.5791" y="23.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 12.5791 23.6992)"/>
            <rect x="14.7002" y="2.41992" width="16.5512" height="3" rx="1.5" transform="rotate(135 14.7002 2.41992)"/>
            </svg>                    
    </button>
    <div class="blog-posts-pagination__page">
        <!-- <a class="blog-posts-pagination__link" href=""></a> -->
    </div>
    <button class="slider-button slider-button_right">
        <svg width="15" height="24" viewBox="0 0 15 24" fill="#070707">
            <rect x="2.4209" y="0.300842" width="16.5512" height="3" rx="1.5" transform="rotate(45 2.4209 0.300842)"/>
            <rect x="0.299805" y="21.5801" width="16.5512" height="3" rx="1.5" transform="rotate(-45 0.299805 21.5801)"/>
            </svg>                    
    </button>
</div>