.mainPictureSlider {
    align-items: center;
}

.slider {
    width: 100%;
    margin-bottom: 60px;
    &__pic {
        object-fit: cover;
        margin-bottom: 30px;
    }
    &__controls {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}
.slider__pic picture:not(:nth-child(2)) {
    display: none;
}

.slider-title {
    padding-left: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 40px 0 36px 0;
    &__heading {
        width: 250px;
        font-size: 47px;
        line-height: 57px;
    }
}
.slider-radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider-radio-buttons svg {
    transition: $time;
    cursor: pointer;
  }
.slider-radio-buttons label:not(:last-child),
.slider-radio-buttons .custom-radio:not(:last-child) {
    margin-right: 7px;
}

.slider-button:hover svg {
    transition: $time;
    cursor: pointer;
    fill: $Gray;
}