<section class="grid mainPictureSlider">
    <div class="slider-title">
        <h1 class="slider-title__heading">Sergey</br>AleeV</h1>
        <p class="slider-title__text">Future front-end developer 20 years old, Tolyatti</p>
    </div>
    <div class="slider">
        <div class="slider__pic">
            <picture>
                <source srcset="../../static/images/SliderPics/MyPicture1.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture1-tablet.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture1-mobile.jpg">
                <img src="../../static/images/SliderPics/MyPicture1.jpg" alt="My Picture">
            </picture>
            <picture>
                <source srcset="../../static/images/SliderPics/MyPicture2.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture2-tablet.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture2-mobile.jpg">
                <img src="../../static/images/SliderPics/MyPicture2.jpg" alt="My Picture">
            </picture>
            <picture>
                <source srcset="../../static/images/SliderPics/MyPicture3.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture3-tablet.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture3-mobile.jpg">
                <img src="../../static/images/SliderPics/MyPicture3.jpg" alt="My Picture">
            </picture>
            <picture>
                <source srcset="../../static/images/SliderPics/MyPicture4.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture4-tablet.jpg">
                <source srcset="../../static/images/SliderPics/MyPicture4-mobile.jpg">
                <img src="../../static/images/SliderPics/MyPicture4.jpg" alt="My Picture">
            </picture>
        </div>
        <div class="slider__controls">
            <button class="slider-button">

            </button>
            <button class="slider-button"></button>
        </div>
    </div>
</section>