<section class="grid main-picture-slider">
    <div class="slider-title">
        <h1 class="slider-title__heading">Sergey</br>AleeV</h1>
        <p class="slider-title__text">Future front-end developer 21 years old, Tolyatti</p> 
    </div>
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__pic">
                <picture class="slider__slide">    
                    <source srcset="../../static/images/SliderPics/MyPicture1.jpg" media="(min-width:770px)">
                    <source srcset="../../static/images/SliderPics/MyPicture1-tablet.jpg" media="(min-width:401px) and (max-width:769px)">
                    <source srcset="../../static/images/SliderPics/MyPicture1-mobile.jpg" media="(min-width:319px) and (max-width:400px)">
                    <img src="../../static/images/SliderPics/MyPicture1.jpg" alt="My Picture">
                </picture>
                <picture class="slider__slide">
                    <source srcset="../../static/images/SliderPics/MyPicture2.jpg" media="(min-width:770px)">
                    <source srcset="../../static/images/SliderPics/MyPicture2-tablet.jpg" media="(min-width:401px) and (max-width:769px)">
                    <source srcset="../../static/images/SliderPics/MyPicture2-mobile.jpg" media="(min-width:319px) and (max-width:400px)">
                    <img src="../../static/images/SliderPics/MyPicture2.jpg" alt="My Picture">
                </picture>
                <picture class="slider__slide">
                    <source srcset="../../static/images/SliderPics/MyPicture3.jpg" media="(min-width:770px)">
                    <source srcset="../../static/images/SliderPics/MyPicture3-tablet.jpg" media="(min-width:401px) and (max-width:769px)">
                    <source srcset="../../static/images/SliderPics/MyPicture3-mobile.jpg" media="(min-width:319px) and (max-width:400px)">
                    <img src="../../static/images/SliderPics/MyPicture3.jpg" alt="My Picture">
                </picture>
                <!-- <picture>
                    <source srcset="../../static/images/SliderPics/MyPicture4.jpg" media="(min-width:770px)">
                    <source srcset="../../static/images/SliderPics/MyPicture4-tablet.jpg" media="(max-width:769px)">
                    <source srcset="../../static/images/SliderPics/MyPicture4-mobile.jpg" media="(max-width:446px)">
                    <img src="../../static/images/SliderPics/MyPicture4.jpg" alt="My Picture">
                </picture> -->
            </div>
        </div>
        <div class="slider__controls">
            <button class="slider-button slider-button_left">
                <svg width="15" height="24" viewBox="0 0 15 24" fill="#070707">
                    <rect x="12.5791" y="23.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 12.5791 23.6992)"/>
                    <rect x="14.7002" y="2.41992" width="16.5512" height="3" rx="1.5" transform="rotate(135 14.7002 2.41992)"/>
                    </svg>                    
            </button>
            <div class="slider-radio-buttons">
                <input class="custom-radio" type="radio" id="sliderControlsRadio1" name="sliderControlsRadio" checked>
                <label for="sliderControlsRadio1">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#E5E5E5">
                        <circle cx="5" cy="5.00006" r="5"/>
                    </svg>
                </label>
                <input class="custom-radio" type="radio" id="sliderControlsRadio2" name="sliderControlsRadio">
                <label for="sliderControlsRadio2">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#E5E5E5">
                        <circle cx="5" cy="5.00006" r="5"/>
                    </svg>
                </label>
                <input class="custom-radio" type="radio" id="sliderControlsRadio3" name="sliderControlsRadio">
                <label for="sliderControlsRadio3">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#E5E5E5">
                        <circle cx="5" cy="5.00006" r="5"/>
                    </svg>
                </label>
            </div>
            <button class="slider-button slider-button_right">
                <svg width="15" height="24" viewBox="0 0 15 24" fill="#070707">
                    <rect x="2.4209" y="0.300842" width="16.5512" height="3" rx="1.5" transform="rotate(45 2.4209 0.300842)"/>
                    <rect x="0.299805" y="21.5801" width="16.5512" height="3" rx="1.5" transform="rotate(-45 0.299805 21.5801)"/>
                    </svg>                    
            </button>
        </div>
    </div>
</section>