
<header class="grid">
  <button type="button" class="header-menu js-header-menu">
    <svg width="32" height="20" viewBox="0 0 32 20" fill="none">
      <rect y="6.10352e-05" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="8.00006" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="16.0001" width="32" height="4" rx="2" fill="#070707"/>
    </svg>
  </button>
  <nav class="navigation">
    <ul class="nav-list no-dots">
      <li class="nav-list__item"><a href="/pages/blog">My Blog</a></li>
      <li class="nav-list__item"><button class="button-js-signIn"  type="button">Sign in</button></li>
      <li class="nav-list__item"><button class="button-js-register"  type="button">Register</button></li>
      <li class="nav-list__item js-profile-link hidden"><a href="/pages/profile">My Profile</a></li>
      </ul>
    <a class="navigation__home" href="/">Home</a> 
</nav>

</header>

<div class="mobile-menu">
  <svg class="mobile-menu__close modal-close" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707"/>
    <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707"/>
  </svg>
    <ul class="mobile-menu__list no-dots">
      <li class="mobile-menu__item"><a href="/">Home</a></li>
      <li class="mobile-menu__item"><a href="/pages/blog">My Blog</a></li>
      <li class="mobile-menu__item"><button class="button-js-signIn">Sign in</button></li>
      <li class="mobile-menu__item"><button class="button-js-register">Register</button></li>
      <li class="mobile-menu__item"><a href="/pages/profile">My Profile</a></li>
    </ul>
</div>