$black-opacity: rgba(7, 7, 7, 0.85);
$Gray: #828282;
$Wild-Sand:#F6F6F6;
$Wild-Sand-Opacity:rgba(246, 246, 246, 0.99);
$Mercury: #E5E5E5;
$Pomegranate: #EB3617;
$Malachite: #03BC3C;
$Title-Ui: #2196F3;