<div class="modal-background modal-change-password">
    <div class="modal-popup">
        <form action="#" class="modal-content form-change-password" novalidate>
            <label for="change-password-old">Old password<span class="required-field">*</span></label>
            <input type="text" id="change-password-old" name="changePasswordOld" class="custom-input required">
            <label for="change-password-new">New password<span class="required-field">*</span></label>
            <input type="password" id="change-password-new" name="changePasswordNew" class="custom-input required password">
            <label for="change-password-repeat">Repeat new password<span class="required-field">*</span></label>
            <input type="password" id="change-password-repeat" name="changePasswordRepeat" class="custom-input required password">
            <button type="submit" class="btn-white modal-content__button js-btn-change-password">Change password</button>
        </form>
        <svg class="modal-close modal-close_caption" width="26" height="26" viewBox="0 0 26 26" fill="#828282">
            <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)"/>
            <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)"/>
        </svg>
    </div>
</div>