<footer>
  <div class="contacts">
    <h2 class="contacts__heading">Contacts</h2>
    <p class="contacts__text">Want to know more or just chat?You are welcome!</p>
    <a href="#" class="contacts__button btn-black button-js-send-message">Send message</a>
  </div>
  <div class="social">
    <a href="#" class="social__item btn-white">Instagram</a>
    <a href="#" class="social__item btn-white">Vk</a>
    <a href="#" class="social__item btn-white">Telegram</a>
    <a href="#" class="social__item btn-white">Mail</a>
    <a href="#" class="social__item btn-white">GitHub</a>
    <a href="#" class="social__item btn-white">Phone</a>
  </div>
  <div class="copyright">
    <p class="copyright__first-line">Design by <span class="underline">DL Academy</span></p>
    <p>Program code from Sergey</p>
  </div>
</footer>
