<footer>
  <div class="contacts">
    <h2 class="contacts__heading">Contacts</h2>
    <p class="contacts__text">Want to know more or just chat?You are welcome!</p>
    <button type="button" class="contacts__button btn-black button-js-send-message">Send message</button>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/serg_aleev/" class="social__item btn-white" target="_blank">Instagram</a>
    <a href="https://vk.com/id155280580" class="social__item btn-white" target="_blank">Vk</a>
    <a href="#" class="social__item btn-white">Telegram</a>
    <a href="#" class="social__item btn-white">Mail</a>
    <a href="https://github.com/SergeyAleev" class="social__item btn-white" target="_blank">GitHub</a>
    <a href="#" class="social__item btn-white">Phone</a>
  </div>
  <div class="copyright">
    <p class="copyright__first-line">Design by <a href="https://dlacademy.ru/" class="underline" target="_blank">DL Academy</a></p>
    <p>Program code from Sergey</p>
  </div>
</footer>
