.chatAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 62px;
    &__title {
        font-size: 34px;
        line-height: 41px;
        font-family: 'Gilroy';
        font-weight: bold;
        font-style: normal;
        margin-bottom: 51px;
    }
}
.chat {
    max-width: 531px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__item {
        position: relative;
        width: 478px;
        height: 100%;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        padding-bottom: 20px;
        &:nth-child(even) {
            align-self: flex-end; 
        }
    }
    &__text {
        height: 100%;
        padding: 15px;

    }
}
.chat__item svg {
    position: absolute;
    height: inherit;
}