<section class="chatAbout grid">
    <h2 class="chatAbout__title">About me</h2>
<div class="chat">
    <div class="chat__item">
    <svg width="482" height="139" viewBox="0 0 482 139" fill="none">
        <path d="M480 2H2V117H416L436 137L456 117H480V2Z" stroke="#070707" stroke-width="2.5"/>
        </svg>
        <p class="chat__text">Aliquam tortor molestie turpis est tristique. Congue diam orci amet quis semper ut. Vitae aenean nibh facilisis urna, ultricies euismod nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel sagittis.</p>
    </div>
</div>

</section>